In [47]:
#Importo las librerías a usar
import pandas as pd
import numpy as np

-- Nota recomiendo para el pipelines solo automatizar para ese primer csvla eliminación de Message y Start_Date dado que se repite la información el resto de los datos a mi parecer están bien correlacionados

In [48]:
#Traigo los archivos a evaluar
df_calidadDelAire = pd.read_csv("Taxis-NewYork\Datasets\Air_Quality.csv")
df_energia = pd.read_csv("Taxis-NewYork\Datasets\energy.csv")
df_contaminacionSonora = pd.read_csv(r"C:\Users\Patricia\Desktop\Proyecto grupal\Taxis-NewYork\Datasets\annotations.csv")

In [49]:
df_calidadDelAire.info() #Evaluo la informacion existente

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16122 entries, 0 to 16121
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unique ID       16122 non-null  int64
 1   Indicator ID    16122 non-null  int64
 2   Name            16122 non-null  object
 3   Measure         16122 non-null  object
 4   Measure Info    16122 non-null  object
 5   Geo Type Name   16122 non-null  object
 6   Geo Join ID     16122 non-null  int64
 7   Geo Place Name  16122 non-null  object
 8   Time Period     16122 non-null  object
 9   Start_Date      16122 non-null  object
 10  Data Value      16122 non-null  float64
 11  Message         0 non-null      float64
dtypes: float64(2), int64(3), object(7)
memory usage: 1.5+ MB

In [50]:
#El totoal de entradas de la ultima columna están vacíos, el resto cuenta con los datos
df_calidadDelAire.isnull().sum()
#df_calidadDelAire.shape = (16122, 12) tenemos 16.122 filas y 12 columnas

Unique ID             0
Indicator ID          0
Name                  0
Measure               0
Measure Info          0
Geo Type Name         0
Geo Join ID           0
Geo Place Name        0
Time Period           0
Start_Date            0
Data Value            0
Message           16122
dtype: int64

In [51]:
#Elimino la columna que no tiene ningun dato representativo
df_calidadDelAire.drop(columns=['Message'], inplace=True)

In [52]:
#Verifico que los datos estén quedando bien
df_calidadDelAire.head(3)

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value
0,216498,386,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2013,06/01/2013,34.64
1,216499,386,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2014,06/01/2014,33.22
2,219969,386,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2013,06/01/2013,31.25

In [53]:
# Inicio con el segundo dataset sin embargo noto que contiene datos de muchos países y años por lo cual utilizo un filtro

df_filtrado = df_energia.loc[(df_energia['Country'] == 'United States') & (df_energia['Year'] >= 2000)]

In [54]:
df_filtrado.isnull().sum() #Notese que pese a que no salen valores nulos en la columna CO2_emission hay valores 0
#Son 41 datos con numero 0, no están asociado a uso de energías que generen emision de CO2
# df_filtrado.shape --> (120, 11)

Unnamed: 0                     0
Country                        0
Energy_type                    0
Year                           0
Energy_consumption             0
Energy_production              0
GDP                            0
Population                     0
Energy_intensity_per_capita    0
Energy_intensity_by_GDP        0
CO2_emission                   0
dtype: int64

In [55]:
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120 entries, 29040 to 55379
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   120 non-null    int64
 1   Country                      120 non-null    object
 2   Energy_type                  120 non-null    object
 3   Year                         120 non-null    int64
 4   Energy_consumption           120 non-null    float64
 5   Energy_production            120 non-null    float64
 6   GDP                          120 non-null    float64
 7   Population                   120 non-null    float64
 8   Energy_intensity_per_capita  120 non-null    float64
 9   Energy_intensity_by_GDP      120 non-null    float64
 10  CO2_emission                 120 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 11.2+ KB

In [56]:
df_filtrado.head(3)

,Unnamed: 0,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
29040,29040,United States,all_energy_types,2000,98.702224,71.270590,13754.31,282054.2,349.940629,7.176094,5700.252865
29041,29041,United States,coal,2000,22.579528,22.735478,13754.31,282054.2,349.940629,7.176094,2061.622698
29042,29042,United States,natural_gas,2000,23.823977,19.661529,13754.31,282054.2,349.940629,7.176094,1196.935249

In [57]:
df_filtrado['Energy_intensity_by_GDP'].min()

5.040496889753446