In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# En el siguiente URL está el diccionario de datos del dataframe "df_fuelEconomy"
#https://fueleconomy.gov/feg/ws/#emissions

In [2]:
df_taxizone = pd.read_csv('Datasets/taxi+_zone_lookup.csv')
df_fuelEconomy = pd.read_csv('Datasets/Vehicle Fuel Economy Data.csv')

In [3]:
df_taxizone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

Reviso los valores nulos del campo **Zone** y **service_zone**

In [4]:
df_taxizone[df_taxizone['Zone'].isnull()]

     LocationID  Borough Zone service_zone
264         265  Unknown  NaN          NaN

In [5]:
df_taxizone[df_taxizone['service_zone'].isnull()]

     LocationID  Borough Zone service_zone
263         264  Unknown   NV          NaN
264         265  Unknown  NaN          NaN

In [6]:
# Veo cuantos valores "Unknown" hay en el campo "Borough"
df_taxizone[df_taxizone['Borough'] == 'Unknown']

     LocationID  Borough Zone service_zone
263         264  Unknown   NV          NaN
264         265  Unknown  NaN          NaN

Elimino las filas anteriores porque no tienen iformación

In [7]:
df_taxizone.drop([263, 264], axis = 0, inplace = True)

In [8]:
# Veo una descripción de los datos
df_taxizone.describe(include = ['O'])

       Borough                                           Zone service_zone
count      263                                            263          263
unique       6                                            260            4
top     Queens  Governor's Island/Ellis Island/Liberty Island    Boro Zone
freq        69                                              3          205

In [9]:
# Veo los valores únicos de "Borough"
df_taxizone['Borough'].unique().tolist()

['EWR', 'Queens', 'Bronx', 'Manhattan', 'Staten Island', 'Brooklyn']

En el data set están los 5 boroughs de Nueva York y a parte está el Aeropuerto Internacional Libertad de Newark (EWR)

In [10]:
# Reviso las filas en donde hay un valor de "Zone" duplicado
df_taxizone[df_taxizone.duplicated('Zone', keep = False)]

,LocationID,Borough,Zone,service_zone
55,56,Queens,Corona,Boro Zone
56,57,Queens,Corona,Boro Zone
102,103,Manhattan,Governor's Island/Ellis Island/Liberty Island,Yellow Zone
103,104,Manhattan,Governor's Island/Ellis Island/Liberty Island,Yellow Zone
104,105,Manhattan,Governor's Island/Ellis Island/Liberty Island,Yellow Zone

Elimino las filas duplicadas

In [11]:
df_taxizone.drop([56, 103, 104], axis = 0, inplace = True)
# Reseteo el index
df_taxizone = df_taxizone.reset_index(drop = True)

In [12]:
# Veo los valores únicos de "service_zone"
df_taxizone['service_zone'].unique().tolist()

['EWR', 'Boro Zone', 'Yellow Zone', 'Airports']

In [13]:
# Exporto el dataset df_taxizone
df_taxizone.to_csv('Datasets_procesados_cars/taxi-zone.csv')

Hago las transformaciones necesarias en el dataset "Vehicle Fuel Economy.csv"

In [14]:
df_fuelEconomy.head()

,Year,Manufacturer,Model,barrels08,barrelsA08,charge240,city08,city08U,cityA08,cityA08U,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,2017,BMW,M6 Coupe,17.500588,0.0,0.0,15.0,14.0,0.0,0.0,...,BMX,NaN,0.0,NaN,04-04-2016,09-09-2016,Y,0.0,0.0,0.0
1,2017,BMW,X3 sDrive28i,12.396250,0.0,0.0,21.0,21.0,0.0,0.0,...,BMX,NaN,0.0,NaN,04-04-2016,22-11-2016,Y,0.0,0.0,0.0
2,2016,Infiniti,Q50S Red Sport,13.523182,0.0,0.0,20.0,19.0,0.0,0.0,...,NSX,NaN,0.0,NaN,04-04-2016,26-09-2016,N,0.0,0.0,0.0
3,2017,MINI,John Cooper Works Convertible,11.018889,0.0,0.0,24.0,23.0,0.0,0.0,...,BMX,NaN,0.0,NaN,12-04-2016,16-09-2016,Y,0.0,0.0,0.0
4,2017,Kia,Sedona SX,14.167143,0.0,0.0,18.0,18.0,0.0,0.0,...,KMX,NaN,0.0,NaN,12-04-2016,02-12-2016,N,0.0,0.0,0.0

In [15]:
# Ve las distintas columnas que tiene el dataset
df_fuelEconomy.columns

Index(['Year', 'Manufacturer', 'Model', 'barrels08', 'barrelsA08', 'charge240',
       'city08', 'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF',
       'co2', 'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'VClass',
       'highwayCD', 'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4',
       'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'youSaveSpend', 'guzzler', 'trans_dscr',
       'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA', 'evMotor',
       'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr', 'createdOn',
       'modifiedOn', 'startStop', 'phevCity', 'phevHwy', 'phevComb'],
      dtype='object')

In [16]:
# Veo los diferentes años de cada modelo
df_fuelEconomy['Year'].unique()

array([2017, 2016, 1987, 1985, 2018, 2015, 2019, 1988, 2020, 2021, 2022,
       2023, 1984, 1986, 2010, 2009, 1990, 1991, 1992, 1993, 1994, 1995,
       1996, 1997, 1999, 2000, 2001, 2002, 2003, 2004, 2006, 2008, 1998,
       2011, 2012, 2013, 2014, 2005, 2007, 2024, 1989], dtype=int64)

Para que haya solo taxis modernos, y así evitar que se descompongan facilmente, retiro los datos de modelos anteriores al año 2010

In [17]:
df_fuelEconomy = df_fuelEconomy[df_fuelEconomy['Year'] >= 2010]

In [18]:
# Veo los diferentes tipos de carros
df_fuelEconomy['VClass'].unique()

array(['Subcompact Cars', 'Small Sport Utility Vehicle 2WD',
       'Midsize Cars', 'Minicompact Cars', 'Minivan - 2WD',
       'Small Sport Utility Vehicle 4WD', 'Standard Pickup Trucks 4WD',
       'Standard Sport Utility Vehicle 2WD', 'Compact Cars',
       'Standard Sport Utility Vehicle 4WD', 'Large Cars', 'Two Seaters',
       'Small Station Wagons', 'Standard Pickup Trucks 2WD',
       'Special Purpose Vehicle 2WD', 'Special Purpose Vehicle 4WD',
       'Small Pickup Trucks 4WD', 'Small Pickup Trucks 2WD',
       'Midsize Station Wagons', 'Vans', nan, 'Minivan - 4WD',
       'Sport Utility Vehicle - 2WD', 'Sport Utility Vehicle - 4WD'],
      dtype=object)

Como los taxis no deben ser camionetas, vans o SUVs filtré el dataset para tener solo datos con vehículos de diferente tipo a los mencionados anteriormente

In [19]:
tipos = ['Midsize Cars', 'Compact Cars', 'Small Station Wagons', 'Midsize Station Wagons']
df_fuelEconomy = df_fuelEconomy[df_fuelEconomy['VClass'].isin(tipos)]

Separao el dataset en tres dependiendo del tipo de combustible que utilizan

"*df_fE_Gasoline*" tendrá datos de vehículos que solo usan gasolina o diesel

In [20]:
df_fuelEconomy['fuelType1'].unique()
# El dataset "df_fE_Gasoline" tendrá vehículos que utilizan este tipo de combustibles

array(['Premium Gasoline', 'Regular Gasoline', 'Diesel', 'Electricity',
       'Midgrade Gasoline', 'Natural Gas'], dtype=object)

In [21]:
# 1er dataset
df = df_fuelEconomy[df_fuelEconomy['fuelType1'].notna()] # Creo un dataframe en donde no hay nulos en "fuelType1"
df_fE_Gasoline = df[['Year', 'Manufacturer', 'Model', 'barrels08', 'charge240', 'city08U', 'cityCD', 'cityE',
                     'cityUF', 'co2', 'comb08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders', 'feScore',
                     'fuelCost08', 'fuelType1', 'ghgScore', 'highway08U', 'highwayCD', 'highwayE',
                     'highwayUF', 'id', 'phevBlended', 'charge240b']]

Como el campo "fuelType1" también tiene autos que funcionan con gas natural, generaré un dataframe con estos datos para pasarlo a otro nuevo en donde habrá datos de vehículos que utilizan combustibles alternativos a la gasolina o diesel

In [22]:
Gas_car = df_fE_Gasoline[df_fE_Gasoline['fuelType1'] == 'Natural Gas']
# Cambio el nombre de unas columnas para depués unirlo al otro dataframe
Gas_car = Gas_car.rename(columns = {'city08U':'cityA08U', 'co2':'co2A', 'comb08U':'combA08U',
                                     'fuelCost08':'fuelCostA08', 'ghgScore':'ghgScoreA',
                                     'highway08U':'highwayA08U', 'fuelType1':'fuelType2'})
Gas_car

,Year,Manufacturer,Model,barrels08,charge240,cityA08U,cityCD,cityE,cityUF,co2A,...,fuelCostA08,fuelType2,ghgScoreA,highwayA08U,highwayCD,highwayE,highwayUF,id,phevBlended,charge240b
12100,2012,Honda,Civic Natural Gas,0.047081,0.0,26.0,0.0,0.0,0.0,-1.0,...,1550.0,Natural Gas,-1.0,37.0,0.0,0.0,0.0,32336.0,False,0.0
20091,2015,Honda,Civic Natural Gas,0.047081,0.0,26.0,0.0,0.0,0.0,218.0,...,1550.0,Natural Gas,9.0,37.0,0.0,0.0,0.0,35886.0,False,0.0
30769,2013,Honda,Civic Natural Gas,0.047081,0.0,26.0,0.0,0.0,0.0,218.0,...,1550.0,Natural Gas,10.0,37.0,0.0,0.0,0.0,33503.0,False,0.0
31046,2014,Honda,Civic Natural Gas,0.047081,0.0,26.0,0.0,0.0,0.0,218.0,...,1550.0,Natural Gas,9.0,37.0,0.0,0.0,0.0,34728.0,False,0.0

Con los datos de vehículos eléctricos en filas donde fuelType1 y fuelType2 = "Electricity" también generaré un nuevo dataset

In [23]:
Electric_car1 = df_fE_Gasoline[df_fE_Gasoline['fuelType1'] == 'Electricity']
# Cambio el nombre de unas columnas para depués unirlo al otro dataframe
Electric_car1 = Electric_car1.rename(columns = {'city08U':'cityA08U', 'co2':'co2A', 'comb08U':'combA08U',
                                     'fuelCost08':'fuelCostA08', 'ghgScore':'ghgScoreA',
                                     'highway08U':'highwayA08U', 'fuelType1':'fuelType2'})
Electric_car1.head()

,Year,Manufacturer,Model,barrels08,charge240,cityA08U,cityCD,cityE,cityUF,co2A,...,fuelCostA08,fuelType2,ghgScoreA,highwayA08U,highwayCD,highwayE,highwayUF,id,phevBlended,charge240b
187,2017,Kia,Soul Electric,0.0768,4.0,119.0,0.0,28.0,0.0,0.0,...,650.0,Electricity,10.0,92.0,0.0,36.0,0.0,38168.0,False,0.0
239,2017,Hyundai,Ioniq Electric,0.0600,4.0,150.0,0.0,22.0,0.0,0.0,...,500.0,Electricity,10.0,122.0,0.0,28.0,0.0,38431.0,False,0.0
261,2017,Ford,Focus Electric,0.0744,5.0,118.0,0.0,28.0,0.0,0.0,...,650.0,Electricity,10.0,95.0,0.0,35.0,0.0,38505.0,False,0.0
561,2018,Nissan,Leaf,0.0720,8.0,125.0,0.0,26.0,0.0,0.0,...,650.0,Electricity,10.0,99.0,0.0,33.0,0.0,39860.0,False,0.0
684,2019,Hyundai,Ioniq Electric,0.0600,4.0,150.0,0.0,22.0,0.0,0.0,...,500.0,Electricity,10.0,122.0,0.0,28.0,0.0,40384.0,False,0.0

"*df_fE_Alternative*" tendrá datos de vehículos que usan combustibles alternativos a la gasolina

In [24]:
df_fuelEconomy['fuelType2'].unique()
# El dataset "df_fE_Alternative" tendrá vehículos que utilizan este tipo de combustibles

array([nan, 'E85', 'Electricity', 'Natural Gas'], dtype=object)

In [25]:
# 2ndo dataset
df = df_fuelEconomy[df_fuelEconomy['fuelType2'].notna()]
df_fE_Alternative = df[['Year', 'Manufacturer', 'Model', 'barrels08', 'charge240', 'cityA08U', 'cityCD', 'cityE',
                     'cityUF', 'co2A', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders', 'feScore',
                     'fuelCostA08', 'fuelType2', 'ghgScoreA', 'highwayA08U', 'highwayCD', 'highwayE',
                     'highwayUF', 'id', 'phevBlended', 'charge240b']]

In [26]:
# Extraigo los autos eléctricos de "_Alternative" para generar el nuevo data set de vehículos eléctricos
Electric_car2 = df_fE_Alternative[df_fE_Alternative['fuelType2'] == 'Electricity']
Electric_car2.head()

,Year,Manufacturer,Model,barrels08,charge240,cityA08U,cityCD,cityE,cityUF,co2A,...,fuelCostA08,fuelType2,ghgScoreA,highwayA08U,highwayCD,highwayE,highwayUF,id,phevBlended,charge240b
232,2017,Kia,Optima Plug-in Hybrid,3.224983,2.0,102.0,0.0,33.0,0.0,-1.0,...,0.0,Electricity,-1.0,104.0,0.0,32.0,0.0,38406.0,True,0.0
262,2017,Ford,C-MAX Energi Plug-In Hybrid,4.099308,2.0,103.0,0.0,33.0,0.0,-1.0,...,0.0,Electricity,-1.0,86.0,0.0,38.0,0.0,38506.0,True,0.0
298,2017,Cadillac,CT6 Plug-In,4.925935,4.0,56.0,0.0,59.0,0.0,-1.0,...,0.0,Electricity,-1.0,70.0,0.0,48.0,0.0,38650.0,True,0.0
423,2018,Chevrolet,Volt,1.739975,4.0,113.0,0.0,29.0,0.0,-1.0,...,650.0,Electricity,-1.0,99.0,0.0,34.0,0.0,39190.0,False,0.0
544,2018,Kia,Niro Plug-in Hybrid,3.023126,2.0,109.0,0.0,30.0,0.0,-1.0,...,0.0,Electricity,-1.0,99.0,0.0,34.0,0.0,39799.0,True,0.0

In [27]:
# Agrego los vehículos que funcionan con gas natural al dataset con vehículos que utilizan combustible alternativo
df_fE_Alternative = pd.concat([df_fE_Alternative, Gas_car])

In [28]:
# Quito los autos eléctricos del data set con vehículos de gasolina y diesel
df_fE_Gasoline.drop(Electric_car1.index.to_list(), axis = 0, inplace = True)
# Quito los autos que consumen gas natural del data set con vehículos de gasolina y diesel
df_fE_Gasoline.drop(Gas_car.index.to_list(), axis = 0, inplace = True)
# Quito los autos eléctricos del data set con vehículos que utilizan un combustible alternativo
df_fE_Alternative.drop(Electric_car2.index.to_list(), axis = 0, inplace = True)

Creo un nuevo dataset que incluye solo vehículos eléctricos

In [29]:
# 3er dataset
df_fE_Electricity = pd.concat([Electric_car1, Electric_car2])
df_fE_Electricity.head()

,Year,Manufacturer,Model,barrels08,charge240,cityA08U,cityCD,cityE,cityUF,co2A,...,fuelCostA08,fuelType2,ghgScoreA,highwayA08U,highwayCD,highwayE,highwayUF,id,phevBlended,charge240b
187,2017,Kia,Soul Electric,0.0768,4.0,119.0,0.0,28.0,0.0,0.0,...,650.0,Electricity,10.0,92.0,0.0,36.0,0.0,38168.0,False,0.0
239,2017,Hyundai,Ioniq Electric,0.0600,4.0,150.0,0.0,22.0,0.0,0.0,...,500.0,Electricity,10.0,122.0,0.0,28.0,0.0,38431.0,False,0.0
261,2017,Ford,Focus Electric,0.0744,5.0,118.0,0.0,28.0,0.0,0.0,...,650.0,Electricity,10.0,95.0,0.0,35.0,0.0,38505.0,False,0.0
561,2018,Nissan,Leaf,0.0720,8.0,125.0,0.0,26.0,0.0,0.0,...,650.0,Electricity,10.0,99.0,0.0,33.0,0.0,39860.0,False,0.0
684,2019,Hyundai,Ioniq Electric,0.0600,4.0,150.0,0.0,22.0,0.0,0.0,...,500.0,Electricity,10.0,122.0,0.0,28.0,0.0,40384.0,False,0.0

In [30]:
# Busco valores nulos en el dataset de vehículos que funcionan con gasolina y diesel
df_fE_Gasoline.isna().sum()

Year            0
Manufacturer    0
Model           0
barrels08       0
charge240       0
city08U         0
cityCD          0
cityE           0
cityUF          0
co2             0
comb08U         0
combE           0
combinedCD      0
combinedUF      0
cylinders       0
feScore         0
fuelCost08      0
fuelType1       0
ghgScore        0
highway08U      0
highwayCD       0
highwayE        0
highwayUF       0
id              0
phevBlended     0
charge240b      0
dtype: int64

In [31]:
# Reseteo los índices y veo la información del dataset "df_fE_Gasoline"
df_fE_Gasoline = df_fE_Gasoline.reset_index(drop = True)
df_fE_Gasoline.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5253 entries, 0 to 5252
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          5253 non-null   int64
 1   Manufacturer  5253 non-null   object
 2   Model         5253 non-null   object
 3   barrels08     5253 non-null   float64
 4   charge240     5253 non-null   float64
 5   city08U       5253 non-null   float64
 6   cityCD        5253 non-null   float64
 7   cityE         5253 non-null   float64
 8   cityUF        5253 non-null   float64
 9   co2           5253 non-null   float64
 10  comb08U       5253 non-null   float64
 11  combE         5253 non-null   float64
 12  combinedCD    5253 non-null   float64
 13  combinedUF    5253 non-null   float64
 14  cylinders     5253 non-null   float64
 15  feScore       5253 non-null   float64
 16  fuelCost08    5253 non-null   float64
 17  fuelType1     5253 non-null   object
 18  ghgScore      5253 non-null   float64
 19  highway08U    5253 non-null   float64
 20  highwayCD     5253 non-null   float64
 21  highwayE      5253 non-null   float64
 22  highwayUF     5253 non-null   float64
 23  id            5253 non-null   float64
 24  phevBlended   5253 non-null   object
 25  charge240b    5253 non-null   float64
dtypes: float64(21), int64(1), object(4)
memory usage: 1.0+ MB

In [32]:
# Busco filas duplicadas
df_fE_Gasoline[df_fE_Gasoline.duplicated()]

Empty DataFrame
Columns: [Year, Manufacturer, Model, barrels08, charge240, city08U, cityCD, cityE, cityUF, co2, comb08U, combE, combinedCD, combinedUF, cylinders, feScore, fuelCost08, fuelType1, ghgScore, highway08U, highwayCD, highwayE, highwayUF, id, phevBlended, charge240b]
Index: []

[0 rows x 26 columns]

Modifico el tipo de datos de algunos campos para ver mejor el contenido de los elementos del dataset

In [33]:
df_fE_Gasoline['Year'] = df_fE_Gasoline['Year'].astype(str)
df_fE_Gasoline['feScore'] = df_fE_Gasoline['feScore'].astype(int)
df_fE_Gasoline['ghgScore']= df_fE_Gasoline['ghgScore'].astype(int)
df_fE_Gasoline['id'] = df_fE_Gasoline['id'].astype(int)
df_fE_Gasoline['id'] = df_fE_Gasoline['id'].astype(str)

In [34]:
# Veo una descripción de los datos cuantitativos
df_fE_Gasoline.describe(include = ['O'])

        Year Manufacturer  Model         fuelType1     id phevBlended
count   5253         5253   5253              5253   5253        5253
unique    15           41    747                 4   5253           2
top     2014          BMW  Jetta  Regular Gasoline  37348       False
freq     447          511     71              2646      1        5150

In [35]:
print("Los valores únicos del campo 'phevBlended' son:", df_fE_Gasoline['phevBlended'].unique().tolist())

Los valores únicos del campo 'phevBlended' son: [False, True]

Lo anterior significa que en este dataset también hay autos híbridos.

In [36]:
# Exporto el dataset df_fE_Gasoline
df_fE_Gasoline.to_csv('Datasets_procesados_cars/Vehicle-Gasoline.csv')

In [37]:
# Busco valores nulos en el dataset de vehículos que funcionan con combustibles alternativos
df_fE_Alternative.isna().sum()

Year            0
Manufacturer    0
Model           0
barrels08       0
charge240       0
cityA08U        0
cityCD          0
cityE           0
cityUF          0
co2A            0
combA08U        0
combE           0
combinedCD      0
combinedUF      0
cylinders       0
feScore         0
fuelCostA08     0
fuelType2       0
ghgScoreA       0
highwayA08U     0
highwayCD       0
highwayE        0
highwayUF       0
id              0
phevBlended     0
charge240b      0
dtype: int64

In [38]:
# Reseteo los índices y veo la información del dataset "df_fE_Gasoline"
df_fE_Alternative = df_fE_Alternative.reset_index(drop = True)
df_fE_Alternative.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          154 non-null    int64
 1   Manufacturer  154 non-null    object
 2   Model         154 non-null    object
 3   barrels08     154 non-null    float64
 4   charge240     154 non-null    float64
 5   cityA08U      154 non-null    float64
 6   cityCD        154 non-null    float64
 7   cityE         154 non-null    float64
 8   cityUF        154 non-null    float64
 9   co2A          154 non-null    float64
 10  combA08U      154 non-null    float64
 11  combE         154 non-null    float64
 12  combinedCD    154 non-null    float64
 13  combinedUF    154 non-null    float64
 14  cylinders     154 non-null    float64
 15  feScore       154 non-null    float64
 16  fuelCostA08   154 non-null    float64
 17  fuelType2     154 non-null    object
 18  ghgScoreA     154 non-null    float64
 19  highwayA08U   154 non-null    float64
 20  highwayCD     154 non-null    float64
 21  highwayE      154 non-null    float64
 22  highwayUF     154 non-null    float64
 23  id            154 non-null    float64
 24  phevBlended   154 non-null    object
 25  charge240b    154 non-null    float64
dtypes: float64(21), int64(1), object(4)
memory usage: 31.4+ KB

In [39]:
# Busco filas duplicadas
df_fE_Alternative[df_fE_Alternative.duplicated()]

Empty DataFrame
Columns: [Year, Manufacturer, Model, barrels08, charge240, cityA08U, cityCD, cityE, cityUF, co2A, combA08U, combE, combinedCD, combinedUF, cylinders, feScore, fuelCostA08, fuelType2, ghgScoreA, highwayA08U, highwayCD, highwayE, highwayUF, id, phevBlended, charge240b]
Index: []

[0 rows x 26 columns]

Modifico el tipo de datos de algunos campos para ver mejor el contenido de los elementos del dataset

In [40]:
df_fE_Alternative['Year'] = df_fE_Alternative['Year'].astype(str)
df_fE_Alternative['feScore'] = df_fE_Alternative['feScore'].astype(int)
df_fE_Alternative['ghgScoreA']= df_fE_Alternative['ghgScoreA'].astype(int)
df_fE_Alternative['id'] = df_fE_Alternative['id'].astype(int)
df_fE_Alternative['id'] = df_fE_Alternative['id'].astype(str)

In [41]:
# Veo una descripción de los datos cuantitativos
df_fE_Alternative.describe(include = ['O'])

        Year Manufacturer          Model fuelType2     id phevBlended
count    154          154            154       154    154         154
unique    10           15             42         2    154           1
top     2012         Ford  Focus FWD FFV       E85  38099       False
freq      31           27             18       148      1         154

In [42]:
print("El valor único del campo 'phevBlended' es:", df_fE_Alternative['phevBlended'].unique().tolist())

El valor único del campo 'phevBlended' es: [False]

Lo anterior era de esperarse, ya que son vehículos que funcionan con combustibles alternativos a la gasolina, y el campo 'phevBlended' indica una combinación de trabajo del motor con gasolina y eléctrico, cosa que es especial para autos híbridos

In [43]:
# Exporto el dataset df_fE_Alternative
df_fE_Alternative.to_csv('Datasets_procesados_cars/Vehicle-Alternative.csv')

In [44]:
# Busco valores nulos en el dataset de vehículos eléctricos
df_fE_Electricity.isna().sum()

Year              0
Manufacturer      0
Model             0
barrels08         0
charge240         0
cityA08U          0
cityCD            0
cityE             0
cityUF            0
co2A              0
combA08U          0
combE             0
combinedCD        0
combinedUF        0
cylinders       164
feScore           0
fuelCostA08       0
fuelType2         0
ghgScoreA         0
highwayA08U       0
highwayCD         0
highwayE          0
highwayUF         0
id                0
phevBlended       0
charge240b        0
dtype: int64

Los vehículos que tienen algún valor en el campo **cylinders** es porque son híbridos

In [45]:
# Reseteo los índices y veo la información del dataset "df_fE_Electricity"
df_fE_Electricity = df_fE_Electricity.reset_index(drop = True)
df_fE_Electricity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          276 non-null    int64
 1   Manufacturer  276 non-null    object
 2   Model         276 non-null    object
 3   barrels08     276 non-null    float64
 4   charge240     276 non-null    float64
 5   cityA08U      276 non-null    float64
 6   cityCD        276 non-null    float64
 7   cityE         276 non-null    float64
 8   cityUF        276 non-null    float64
 9   co2A          276 non-null    float64
 10  combA08U      276 non-null    float64
 11  combE         276 non-null    float64
 12  combinedCD    276 non-null    float64
 13  combinedUF    276 non-null    float64
 14  cylinders     112 non-null    float64
 15  feScore       276 non-null    float64
 16  fuelCostA08   276 non-null    float64
 17  fuelType2     276 non-null    object
 18  ghgScoreA     276 non-null    float64
 19  highwayA08U   276 non-null    float64
 20  highwayCD     276 non-null    float64
 21  highwayE      276 non-null    float64
 22  highwayUF     276 non-null    float64
 23  id            276 non-null    float64
 24  phevBlended   276 non-null    object
 25  charge240b    276 non-null    float64
dtypes: float64(21), int64(1), object(4)
memory usage: 56.2+ KB

In [46]:
# Busco filas duplicadas
df_fE_Electricity[df_fE_Electricity.duplicated()]

Empty DataFrame
Columns: [Year, Manufacturer, Model, barrels08, charge240, cityA08U, cityCD, cityE, cityUF, co2A, combA08U, combE, combinedCD, combinedUF, cylinders, feScore, fuelCostA08, fuelType2, ghgScoreA, highwayA08U, highwayCD, highwayE, highwayUF, id, phevBlended, charge240b]
Index: []

[0 rows x 26 columns]

Modifico el tipo de datos de algunos campos para ver mejor el contenido de los elementos del dataset

In [47]:
df_fE_Electricity['Year'] = df_fE_Electricity['Year'].astype(str)
df_fE_Electricity['feScore'] = df_fE_Electricity['feScore'].astype(int)
df_fE_Electricity['ghgScoreA']= df_fE_Electricity['ghgScoreA'].astype(int)
df_fE_Electricity['id'] = df_fE_Electricity['id'].astype(int)
df_fE_Electricity['id'] = df_fE_Electricity['id'].astype(str)

In [48]:
# Veo una descripción de los datos cuantitativos
df_fE_Electricity.describe(include = ['O'])

        Year Manufacturer Model    fuelType2     id phevBlended
count    276          276   276          276    276         276
unique    13           21   120            1    276           2
top     2023      Porsche  Volt  Electricity  38168       False
freq      46           30     9          276      1         173

In [49]:
print("Los valores únicos del campo 'phevBlended' son:", df_fE_Electricity['phevBlended'].unique().tolist())

Los valores únicos del campo 'phevBlended' son: [False, True]

Lo anterior era de esperarse porque los auto híbridos también son eléctricos

In [50]:
# Exporto el dataset df_fE_Alternative
df_fE_Electricity.to_csv('Datasets_procesados_cars/Vehicle-Electricity.csv')