## Borough

In [144]:
import pandas as pd 
import numpy as np

In [145]:
taxi_zone=pd.read_csv("D:/Programacion/DataScience_Henry/Proyecto_Grupal/Datasets_procesados_cars/taxi-zone.csv")
Sonido_presencia=pd.read_csv("D:/Programacion/DataScience_Henry/Proyecto_Grupal/Datasets_procesados_contaminacion/Sonido_presencia.csv")
Calidad_aire=pd.read_csv("D:/Programacion/DataScience_Henry/Proyecto_Grupal/Datasets_procesados_contaminacion/Calidad del aire.csv")

In [146]:
Borough={"id_Borough":list(range(0,len(taxi_zone.Borough.unique()))),
         "Borough":list(taxi_zone.Borough.unique())}
Borough=pd.DataFrame(Borough)

In [147]:
# Verificar que se encuentren todos los nombres de lugares del resto de dataframes
for i in list(Calidad_aire["Geo Place Name"].unique()):
    if i not in list(Borough["Borough"]):
        Dicc={"id_Borough":Borough["id_Borough"].max()+1,
            "Borough":i}
        Borough=pd.concat([Borough,pd.DataFrame([Dicc])],ignore_index=True)
for i in list(Sonido_presencia["borough"].unique()):
    if i not in list(Borough["Borough"]):
        Dicc={"id_Borough":Borough["id_Borough"].max()+1,
            "Borough":i}
        Borough=pd.concat([Borough,pd.DataFrame([Dicc])],ignore_index=True)

In [148]:
Borough

   id_Borough        Borough
0           0            EWR
1           1         Queens
2           2          Bronx
3           3      Manhattan
4           4  Staten Island
5           5       Brooklyn
6           6  New York City

## taxi-zone.csv

In [149]:
#Verifico que las columnas tengan los mismos nombres para el merge.
taxi_zone.columns

Index(['LocationID', 'Borough', 'Zone', 'service_zone'], dtype='object')

In [150]:
# Primero hago una variable de prueba para el merge
# Esto para no reemplazar los datos en taxi_zone y perderlos por errores.

Prueba_taxi_zone=pd.merge(taxi_zone,Borough,on="Borough",how='inner')

In [151]:
Prueba_taxi_zone.drop(columns="Borough",inplace=True)

In [152]:
columns=list(Prueba_taxi_zone.columns)

In [153]:
columns.pop()

'id_Borough'

In [154]:
id=list(Borough.columns)[0]

In [155]:
id

'id_Borough'

In [156]:
columns.insert(1,id)

In [157]:
taxi_zone=Prueba_taxi_zone[columns].copy()
#taxi-zone terminado.

---

### Final de taxi-zone.csv

In [158]:
"""
## taxi-zone.csv
# Se crea el df que va a contener los datos temporalmente
Prueba_taxi_zone=pd.merge(taxi_zone,Borough,on="Borough",how='inner')

# Se quita la columna con los nombres.
Prueba_taxi_zone.drop(columns="Borough",inplace=True)

# Se enlista las columnas del df para hacer el cambio de orden.
columns=list(Prueba_taxi_zone.columns)
# Se quita el nombre de la ultima columna (la que contiene los id´s)
columns.pop()
# Ahora se inserta este mismo para ser la columna 2.
columns.insert(1,id)
# Y ahora renombramos a "taxi_zone" como el resultado de reordenar las columnas.
taxi_zone=Prueba_taxi_zone[columns].copy()
#taxi-zone terminado.
"""

'\n## taxi-zone.csv\n# Se crea el df que va a contener los datos temporalmente\nPrueba_taxi_zone=pd.merge(taxi_zone,Borough,on="Borough",how=\'inner\')\n\n# Se quita la columna con los nombres.\nPrueba_taxi_zone.drop(columns="Borough",inplace=True)\n\n# Se enlista las columnas del df para hacer el cambio de orden.\ncolumns=list(Prueba_taxi_zone.columns)\n# Se quita el nombre de la ultima columna (la que contiene los id´s)\ncolumns.pop()\n# Ahora se inserta este mismo para ser la columna 2.\ncolumns.insert(1,id)\n# Y ahora renombramos a "taxi_zone" como el resultado de reordenar las columnas.\ntaxi_zone=Prueba_taxi_zone[columns].copy()\n#taxi-zone terminado.\n'

In [159]:
taxi_zone.head(3)

   LocationID  id_Borough            Zone service_zone
0           1           0  Newark Airport          EWR
1           2           1     Jamaica Bay    Boro Zone
2           7           1         Astoria    Boro Zone

----

## Sonido_presencia.csv

In [160]:
Sonido_presencia.columns
# Hay que cambiar a mayuscula la primera letra
# Podriamos aplicar codigo en lugar de cambiar el nombre pero 
# Es mejor para más adelante que esten igual escritas en este caso.

Index(['split', 'sensor_id', 'borough', 'year', '5-1_car-horn_presence',
       '5-2_car-alarm_presence', '5-4_reverse-beeper_presence',
       '1_engine_presence', '2_machinery-impact_presence',
       '3_non-machinery-impact_presence', '4_powered-saw_presence',
       '5_alert-signal_presence', '6_music_presence', '7_human-voice_presence',
       '8_dog_presence'],
      dtype='object')

In [161]:
columnas=list(Sonido_presencia.columns)

In [162]:
columnas_reemplazada=[columna.replace("borough","Borough") for columna in columnas]

In [163]:
cambio=pd.DataFrame()

In [164]:
# Hago el df temporal que va a tener las columnas con el renombre.
cambio[columnas_reemplazada]=Sonido_presencia[columnas].copy()
Prueba_sonido_presencia=pd.merge(cambio,Borough,on="Borough",how='inner')

In [165]:
id=list(Borough.columns)[0]
columnas=list(Prueba_sonido_presencia.columns.drop("Borough"))
columnas.pop()
columnas.insert(3,id)
Sonido_presencia2=Prueba_sonido_presencia[columnas].copy()

In [166]:
Prueba_sonido_presencia.head(3)

,split,sensor_id,Borough,year,5-1_car-horn_presence,5-2_car-alarm_presence,5-4_reverse-beeper_presence,1_engine_presence,2_machinery-impact_presence,3_non-machinery-impact_presence,4_powered-saw_presence,5_alert-signal_presence,6_music_presence,7_human-voice_presence,8_dog_presence,id_Borough
0,test,0,Manhattan,2019,-1,-1,-1,-1,1,0,-1,-1,-1,-1,-1,3
1,test,0,Manhattan,2019,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,3
2,test,0,Manhattan,2019,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,3

In [167]:
Sonido_presencia2.head(3)

,split,sensor_id,year,id_Borough,5-1_car-horn_presence,5-2_car-alarm_presence,5-4_reverse-beeper_presence,1_engine_presence,2_machinery-impact_presence,3_non-machinery-impact_presence,4_powered-saw_presence,5_alert-signal_presence,6_music_presence,7_human-voice_presence,8_dog_presence
0,test,0,2019,3,-1,-1,-1,-1,1,0,-1,-1,-1,-1,-1
1,test,0,2019,3,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1
2,test,0,2019,3,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1

In [168]:
Prueba_sonido_presencia.head(3)

,split,sensor_id,Borough,year,5-1_car-horn_presence,5-2_car-alarm_presence,5-4_reverse-beeper_presence,1_engine_presence,2_machinery-impact_presence,3_non-machinery-impact_presence,4_powered-saw_presence,5_alert-signal_presence,6_music_presence,7_human-voice_presence,8_dog_presence,id_Borough
0,test,0,Manhattan,2019,-1,-1,-1,-1,1,0,-1,-1,-1,-1,-1,3
1,test,0,Manhattan,2019,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,3
2,test,0,Manhattan,2019,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,3

---

### Final

In [169]:
"""
# Enlisto las columnas del csv para luego reemplazar la que se llamara borough.
columnas=list(Sonido_presencia.columns)
columnas_reemplazada=[columna.replace("borough","Borough") for columna in columnas]
cambio=pd.DataFrame()

# Hago el df temporal que va a tener las columnas con el renombre.
cambio[columnas_reemplazada]=Sonido_presencia[columnas].copy()
Prueba_sonido_presencia=pd.merge(cambio,Borough,on="Borough",how='inner')

# Elimino variables ya no usadas (ahorro de memoria/espacio)
del(cambio)
del(columnas_reemplazada)

# Me aseguro de no escribir el nombre directamente si a futuro nos gustaria cambiarlo.
# Hay que asegurarse que el id quede en la primera columna del df.
id=list(Borough.columns)[0]

# Me guardo las columnas menos "Borough" ya que quiero generar un df solo con los id.
columnas=list(Prueba_sonido_presencia.columns.drop("Borough"))

# Reordeno las columnas, ya sé que la columna de id´s queda a lo último y por eso directamente hago pop()
columnas.pop()
# Inserto el nombre de la columna de los id(esto para que quede como 4ta columna siempre)
columnas.insert(3,id)
Sonido_presencia2=Prueba_sonido_presencia[columnas].copy()

# Ya no se usan, se elimina(ahorro).
del(Prueba_sonido_presencia)
"""

'\n# Enlisto las columnas del csv para luego reemplazar la que se llamara borough.\ncolumnas=list(Sonido_presencia.columns)\ncolumnas_reemplazada=[columna.replace("borough","Borough") for columna in columnas]\ncambio=pd.DataFrame()\n\n# Hago el df temporal que va a tener las columnas con el renombre.\ncambio[columnas_reemplazada]=Sonido_presencia[columnas].copy()\nPrueba_sonido_presencia=pd.merge(cambio,Borough,on="Borough",how=\'inner\')\n\n# Elimino variables ya no usadas (ahorro de memoria/espacio)\ndel(cambio)\ndel(columnas_reemplazada)\n\n# Me aseguro de no escribir el nombre directamente si a futuro nos gustaria cambiarlo.\n# Hay que asegurarse que el id quede en la primera columna del df.\nid=list(Borough.columns)[0]\n\n# Me guardo las columnas menos "Borough" ya que quiero generar un df solo con los id.\ncolumnas=list(Prueba_sonido_presencia.columns.drop("Borough"))\n\n# Reordeno las columnas, ya sé que la columna de id´s queda a lo último y por eso directamente hago pop()\ncolumnas.pop()\n# Inserto el nombre de la columna de los id(esto para que quede como 4ta columna siempre)\ncolumnas.insert(3,id)\nSonido_presencia2=Prueba_sonido_presencia[columnas].copy()\n\n# Ya no se usan, se elimina(ahorro).\ndel(Prueba_sonido_presencia)\n'

---

## Calidad del aire.csv

In [170]:
Calidad_aire.columns
# En este caso ya que no solo hay Burough lo que hago es hacer uso del código:
# left_on='Geo Place Name', right_on='Borough'
# Ya que esto significa la misma columna con distinto nombre.
#(Si el dataframe de la izquierda resulta no ser Calidad_aire se intercambian los nombres en las variables)

Index(['Name', 'Measure', 'Measure Info', 'Geo Type Name', 'Geo Place Name',
       'Data Value', 'Stations', 'Final Date'],
      dtype='object')

In [171]:
Calidad_aire.head(1)

,Name,Measure,Measure Info,Geo Type Name,Geo Place Name,Data Value,Stations,Final Date
0,Air Toxics Concentrations- Average Benzene Con...,Annual Average Concentration,µg/m3,Borough,Queens,1.6,Annual,2011

In [172]:
Prueba_Calidad_aire=pd.merge(Calidad_aire,Borough,left_on='Geo Place Name', right_on='Borough',how='inner')

In [173]:
list(Prueba_Calidad_aire.columns.drop(['Geo Place Name','Borough']))

['Name',
 'Measure',
 'Measure Info',
 'Geo Type Name',
 'Data Value',
 'Stations',
 'Final Date',
 'id_Borough']

In [174]:
columns=list(Prueba_Calidad_aire.columns.drop(['Geo Place Name','Borough',id]))

In [175]:
columns.insert(4,id)

In [176]:
columns

['Name',
 'Measure',
 'Measure Info',
 'Geo Type Name',
 'id_Borough',
 'Data Value',
 'Stations',
 'Final Date']

In [177]:
Final_aire=Prueba_Calidad_aire[columns].copy()

In [178]:
Final_aire["Year"]=Final_aire["Final Date"]

In [179]:
Final_aire.drop(columns="Final Date",inplace=True)

In [180]:
Final_aire.head(3)

,Name,Measure,Measure Info,Geo Type Name,id_Borough,Data Value,Stations,Year
0,Air Toxics Concentrations- Average Benzene Con...,Annual Average Concentration,µg/m3,Borough,1,1.6,Annual,2011
1,Air Toxics Concentrations- Average Benzene Con...,Annual Average Concentration,µg/m3,Borough,1,1.9,Annual,2005
2,Air Toxics Concentrations- Average Formaldehyd...,Annual Average Concentration,µg/m3,Borough,1,2.1,Annual,2011

---

### Final de Calidad_aire

In [ ]:
# Creo el df temporal que contiene el merge.
Prueba_Calidad_aire=pd.merge(Calidad_aire,Borough,left_on='Geo Place Name', right_on='Borough',how='inner')

# Guardo las columnas eliminando las que no necesito en la nueva tabla
columns=list(Prueba_Calidad_aire.columns.drop(['Geo Place Name','Borough',id]))

# La columna con id´s si la necesito pero la elimine para insertarla en un buen lugar.
columns.insert(4,id)

# Ya genero el df final con las columnas que necesito en el orden que necesito.
# y renombro la columna "Final Date" por "Year" para que coincida con otros csv´s.
Final_aire=Prueba_Calidad_aire[columns].copy()
Final_aire["Year"]=Final_aire["Final Date"]
Final_aire.drop(columns="Final Date",inplace=True)

---

## Final

In [181]:
import pandas as pd 
import numpy as np

def Id_y_CambiosTablas():

    #Llamar las tablas de su origen(en clouds se encuentran en un bucket, reescribir)
    taxi_zone=pd.read_csv("D:/Programacion/DataScience_Henry/Proyecto_Grupal/Datasets_procesados_cars/taxi-zone.csv")
    Sonido_presencia=pd.read_csv("D:/Programacion/DataScience_Henry/Proyecto_Grupal/Datasets_procesados_contaminacion/Sonido_presencia.csv")
    Calidad_aire=pd.read_csv("D:/Programacion/DataScience_Henry/Proyecto_Grupal/Datasets_procesados_contaminacion/Calidad del aire.csv")  
    
    #Crear el dataframe que contiene los id´s
    Borough={"id_Borough":list(range(0,len(taxi_zone.Borough.unique()))),
        "Borough":list(taxi_zone.Borough.unique())}
    Borough=pd.DataFrame(Borough)

    # Verificar que se encuentren todos los nombres de lugares del resto de dataframes
    for i in list(Calidad_aire["Geo Place Name"].unique()):
        if i not in list(Borough["Borough"]):
            Dicc={"id_Borough":Borough["id_Borough"].max()+1,
                "Borough":i}
            df=pd.concat([Borough,pd.DataFrame([Dicc])],ignore_index=True)
    for i in list(Sonido_presencia["borough"].unique()):
        if i not in list(Borough["Borough"]):
            Dicc={"id_Borough":Borough["id_Borough"].max()+1,
                "Borough":i}
            Borough=pd.concat([Borough,pd.DataFrame([Dicc])],ignore_index=True)
    print(" Exportando la tabla de id2´s a BigQuery...")
    #Borough.to_csv("ruta de BigQuery",index=False)
    print(" Exportación realizada.\n Comienza la edición a las tablas:\n - taxi-zone.csv.\n - Sonido_presencia.csv.\n - Calidad del aire.csv.\n Ya procesadas anteriormente.")

    print(" Comenzando el cambio en la tabla Sonido_presencia.csv")
    
    ## Sonido_presencia:
    
    # Enlisto las columnas del csv para luego reemplazar la que se llamara borough.
    columnas=list(Sonido_presencia.columns)
    columnas_reemplazada=[columna.replace("borough","Borough") for columna in columnas]
    cambio=pd.DataFrame()

    # Hago el df temporal que va a tener las columnas con el renombre.
    cambio[columnas_reemplazada]=Sonido_presencia[columnas].copy()
    Prueba_sonido_presencia=pd.merge(cambio,Borough,on="Borough",how='inner')

    # Elimino variables ya no usadas (ahorro de memoria/espacio)
    del(cambio)
    del(columnas_reemplazada)

    # Me aseguro de no escribir el nombre directamente si a futuro nos gustaria cambiarlo.
    # Si hay que asegurarse que el id quede en la primera columna del df.
    id=list(Borough.columns)[0]

    # Me guardo las columnas menos "Borough" ya que quiero generar un df solo con los id.
    columnas=list(Prueba_sonido_presencia.columns.drop("Borough"))

    # Reordeno las columnas, ya sé que la columna de id´s queda a lo último y por eso directamente hago pop()
    columnas.pop()
    # Inserto el nombre de la columna de los id(esto para que quede como 4ta columna siempre)
    columnas.insert(3,id)
    Sonido_presencia2=Prueba_sonido_presencia[columnas].copy()

    # Ya no se usan, se elimina(ahorro).
    del(Prueba_sonido_presencia)
    del(Sonido_presencia)
    del(columnas)
    print("Exportando la tabla ya editada ")
    #Sonido_presencia2.to_csv("ruta de BigQuery",index=False)
    print("Exportanción de Sonido_presencia.csv terminada.")

    print("Comienzan cambios en taxi-zone.csv")
    
    ## taxi-zone.csv:
    # Se crea el df que va a contener los datos temporalmente
    Prueba_taxi_zone=pd.merge(taxi_zone,Borough,on="Borough",how='inner')

    # Se quita la columna con los nombres.
    Prueba_taxi_zone.drop(columns="Borough",inplace=True)

    # Se enlista las columnas del df para hacer el cambio de orden.
    columns=list(Prueba_taxi_zone.columns)
    # Se quita el nombre de la ultima columna (la que contiene los id´s)
    columns.pop()
    # Ahora se inserta este mismo para ser la columna 2.
    columns.insert(1,id)
    # Y ahora renombramos a "taxi_zone" como el resultado de reordenar las columnas.
    taxi_zone=Prueba_taxi_zone[columns].copy()
    #taxi-zone terminado.
    del(columns)
    del(Prueba_taxi_zone)
    #taxi_zone.to_csv("ruta de BigQuery, renombrar a taxi_zone.csv",index=False)

    # Creo el df temporal que contiene el merge.
    Prueba_Calidad_aire=pd.merge(Calidad_aire,Borough,left_on='Geo Place Name', right_on='Borough',how='inner')

    # Guardo las columnas eliminando las que no necesito en la nueva tabla
    columns=list(Prueba_Calidad_aire.columns.drop(['Geo Place Name','Borough',id]))

    # La columna con id´s si la necesito pero la elimine para insertarla en un buen lugar.
    columns.insert(4,id)

    # Ya genero el df final con las columnas que necesito en el orden que necesito.
    # y renombro la columna "Final Date" por "Year" para que coincida con otros csv´s.
    Final_aire=Prueba_Calidad_aire[columns].copy()
    del(columns)
    del(Prueba_Calidad_aire)
    Final_aire["Year"]=Final_aire["Final Date"]
    Final_aire.drop(columns="Final Date",inplace=True)
    #Final_aire.to_csv("ruta de BigQuery, renombrar a Calidad_aire.csv",index=False)