In [56]:
import pandas as pd 
import numpy as np

In [57]:
taxi_zone=pd.read_csv("D:/Programacion/DataScience_Henry/Proyecto_Grupal/Datasets_procesados_cars/taxi-zone.csv")
Sonido_presencia=pd.read_csv("D:/Programacion/DataScience_Henry/Proyecto_Grupal/Datasets_procesados_contaminacion/Sonido_presencia.csv")
Calidad_aire=pd.read_csv("D:/Programacion/DataScience_Henry/Proyecto_Grupal/Datasets_procesados_contaminacion/Calidad del aire.csv")

In [58]:
Borough={"id_Borough":list(range(0,len(taxi_zone.Borough.unique()))),
         "Borough":list(taxi_zone.Borough.unique())}
Borough=pd.DataFrame(Borough)

In [66]:
def verificar_valores(df):
    for i in list(Calidad_aire["Geo Place Name"].unique()):
        if i not in list(df["Borough"]):
            Dicc={"id_Borough":df["id_Borough"].max()+1,
                  "Borough":i}
            Borough=pd.concat([df,pd.DataFrame([Dicc])],ignore_index=True)
    return Borough

In [68]:
verificar_valores(df=Borough)

   id_Borough        Borough
0           0            EWR
1           1         Queens
2           2          Bronx
3           3      Manhattan
4           4  Staten Island
5           5       Brooklyn
6           6  New York City

In [53]:
Dicc={"id_Borough":Borough["id_Borough"].max()+1,
    "Borough":"i"}

In [54]:
Dicc_df=pd.DataFrame([Dicc])
Borough=pd.concat([Borough,Dicc_df],ignore_index=True)

In [39]:
Dicc

{'id_Borough': 5, 'Borough': 'i'}

In [47]:
for i in list(Calidad_aire["Geo Place Name"].unique()):
    if i not in list(Borough["Borough"]):
            Dicc={"id_Borough":Borough["id_Borough"].max()+1,
                  "Borough":str(i)}
            Dicc_df=pd.DataFrame([Dicc])
            Borough=pd.concat([Borough,Dicc_df],ignore_index=True)

In [55]:
Borough

   id_Borough        Borough
0           0            EWR
1           1         Queens
2           2          Bronx
3           3      Manhattan
4           4  Staten Island
5           5       Brooklyn
6           5  New York City
7           5              i
8           6              i

In [8]:
taxi_zone.Borough.unique()

array(['EWR', 'Queens', 'Bronx', 'Manhattan', 'Staten Island', 'Brooklyn'],
      dtype=object)

In [7]:
len(taxi_zone.Borough.unique())

6